 
# Environment variables
.env

# Node modules
node_modules/

# Large media folders (SimpleTCF recommendation)
public/audios/
public/pdfs/
public/pictures/
public/firebase-config.js

# OS files
.DS_Store
Thumbs.db

